# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.DS_Store

/src/utils/TenderlyUpload.sol

.states/

.vscode/

.deps/

src/artifacts/

src/interfaces/artifacts/

src/libs/artifacts/

src/utils/artifacts/

broadcast/

bin/

test/Msg.t.sol

lcov.info

report/